@import './src/app/shared/variables.scss';

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.first-test {
  background-color: burlywood;
}

.second-test {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  input {
    outline: none;
    border: 0;
    background-color: blanchedalmond;
    font-size: 10px;
    border-radius: 10px;
  }

  .test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: aquamarine;
  }

  .test_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: bisque;
  }
}
