<div appIsIframe class="home-wrapper">
  <div class="home">
    <div class="first-test">
      <span>Time: {{ intervalValue_2 }}</span>
    </div>

    <div class="second-test">
      <input type="text" value="hello">
      <input type="text" value="world">
      <input type="text" value="test">
      <input type="text" value="world wide">
      <input type="text" value="world web">
      <input type="text" value="world">
      <input type="hello">
    </div>
  </div>
</div>

<ng-template #noAccess>
  And this is real end of recording
</ng-template>
